@charset "UTF-8";
/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus, :active {
  outline: none;
}
a:focus, a:active {
  outline: none;
}
nav, footer, header, aside {
  display: block;
}
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input, button, textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  color: white;
  font-family: "Comfortaa", sans-serif;
  background-image: url(/images/didzhej_poza_pult_982208_3840x2160.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  font-size: 20px;
}

h1 {
  margin: 100px 0 20px 0;
  text-align: left;
  font-size: 40px;
}
.main_container {
  font-size: 22px;
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  padding: 60px 0 100px 0;
}

.desription_container {
  border-radius: 10px;
  padding: 10px 20px;
}
.main_container img {
  border-radius: 10px;
  margin: 0 0 10px 0;
  width: 400px;
}

.bot_description {
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgb(180, 180, 180);
  padding: 20px 10px;
  text-align: left;
  border-radius: 10px;
}

.dropdown-toggle {
  font-size: 40px;
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  background-color: transparent;
  padding: 10px 20px;
  box-shadow: 0 10px 10px black 1;
  border-radius: 10px;
  width: 300px;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 100%;
}
.dropdown-menu.show {
  z-index: 99;
  visibility: visible;
  opacity: 1;
  top: calc(100% + 10px);
  transition: all 0.3s ease-out;
}
.dropdown-menu a {
  display: block;
  padding: 10px 0;
  color: white;
  opacity: 0.7;
}

.dropdown-menu a:hover {
  opacity: 1;
}

.finder {
  display: flex;
  align-items: center;
  padding: 8px 10px;
 
  border: 2px solid white;
  border-radius: 20px;
}

.finder input {
  width: 400px;
  color: white;
  margin: 0 0 0 10px;
  background: transparent;
}

.user_header_menu {
  margin: auto 0;
}

.user-toggle {
  background-color: transparent;
}

.user {
  position: relative;
  display: inline-block;
}

.user-menu {
  text-align: right;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 10px;
  width: 400px;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 100%;
  left: -320px;
}
.user-menu.show {
  z-index: 99;
  visibility: visible;
  opacity: 1;
  top: calc(100% + 10px);
  transition: all 0.3s ease-out;
  left: -320px;
}
.user-menu a {
  color: white;
  display: block;
  padding: 10px 0;
  opacity: 0.7;
}

.user-menu a:hover {
  opacity: 1;
}

.user-menu span {
  color: white;
  display: block;
  padding: 10px 0;
  opacity: 1;
}

.header_container {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  margin: 0 0 100px 0;
}

.main_container {
  margin: 0 auto;
}



.reviews img {

    width: 100px;
}


.review-card {

    color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgb(180, 180, 180);
  border-radius: 10px;
  width: 1000px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0 0 100px 0;
}

.review-card img {
  width: 100px;
  height: auto;
  border-radius: 10px;
}

.review-info {
  margin-bottom: 15px;
}

.user-review img {

    margin: 0 4px 0 0;
    width: 40px;
    vertical-align: middle;
}


.review-album {
  font-size: 18px;
  color: #ccc;
}

.user-review {

  margin-top: 15px;
}

.review-username {
  font-size: 24px;
  color: white;
}

.review-text {
  color: #ccc;
}